.first-box,.second-box,.third-box,.fourth-box{
  width: 150px;
  height: auto;
  background-color: #dcdcdc;
  border-radius: 5px;
  padding: 5px;
}
.fourth-box{
  position: relative;
}
.first-box{
  background-color: #ffff66;
}
.fourth-box:before,
.fourth-box:after{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin: auto;
}
.fourth-box:before{
  top:-15px;
  right:-1em;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  border-width: 24px 0 24px 1em;
  z-index: 10;
}
.fourth-box:after{
  top:-1px;
  right:-.8em;
  border-style: solid;
  border-color: transparent transparent transparent #dcdcdc;
  border-width: 18px 0 18px 1em;
  z-index: 10;
}
.active:after{
  border-color: transparent transparent transparent #ffff66;
}

.phase-image{
  display: flex;
  margin: 30px auto;
  text-align: center;
  justify-content: center;
  
}
.border-line{
  width: 5%;
  height: 2px;
  margin-top: 15px;
  background-color: #dcdcdc;
}
.agent-list{
  margin: 10px 15%;
  display: grid;
  grid-template-columns: 4fr  1fr auto;
}
.cart-content{
  width: 100%;
  padding-top: 70px;
  min-height: 100vh;
  background-color: aliceblue;
  padding-bottom: 50px;
  
}
.agent-name{
  font-size: 30px;
  font-weight: 400;
  text-align: left;
}
.contact-link{
  margin-top: 10%;
  margin-right: 20%;
  font-size: 20px;
  text-align: right;
}
.contact-adjust{
  margin-right: 120px;
}
.contact-link a{
  display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 300px;
	height: 60px;
	color: #333;
  background-color: #ffff66;
  
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	transition: 0.3s;
  margin-left: 80%;
}
.contact-link a::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0 5px 8px;
	border-color: transparent transparent transparent #333;

}
.contact-link a:hover {
	background-color: #dcdcdc;
	border: 1px solid #333;
}