html, header {
    width: 100%;
    }

body {
    width: 100%;
    padding: 0px 0px;
    /* outline: 2px red solid; */
    font-family: 'Noto Sans JP', sans-serif;
    background-color: white;
}

.header {
    width: 100%;
    background-color: rgba(128, 128, 128, 0.8);
    /* 透明な灰色の背景色に変更 */

}

.gnavi__pc-style{
    width: 100%;
    height: 100px;
    display: flex;
    /* 透明な灰色の背景色に変更 */
    background-color: rgba(128, 128, 128, 0.8);
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    z-index: 1000;

}
.gnavi__pc-style .header-buttons {
    display: flex;
    margin-right: auto;
}


.gnavi__pc-style a {
    color: aliceblue;
    font-size: 18px;
}

.gnavi__sp-style{
    display: none;
}
.gnavi__pc-style .header-buttons .header-button {
    margin-right: 10px;
}

.gnavi__pc-style .header-img {
    margin-left: auto; /* イラストを右寄せにする */
    width: 250px;
}


.header-button {
    padding-left: 20px;
    margin-left: 0px;
    cursor: pointer;
}


.header-button:hover a:not(.company-a) {
    color: #e3cf32;
    text-decoration: underline;
    text-decoration-color:#e3cf32 ;
}


.gnavi__pc-style .header-buttons .header-button .company-a{
    margin-left: 100px;
}

.gnavi__pc-style .header-buttons .header-button .company-a:hover{
    color: #0071bc;
    text-decoration: underline;
    text-decoration-color:#0071bc ;
}




/* ここからヒーロー */
/* ここから流れ星 */


/* これヒーロー用 */
/* @keyframes {
    0% {
        height: 0;
        opacity: 50%;
    }

    50% {
        height: 500px;
        opacity: 100%;
    }

    100% {
        height: 700px;
        opacity: 0;
    }
} */


.hero {
    width: 100%;
    height: 700px;
    background-image: url(../img/top_picture.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.hero-title-jpn {
    position: absolute;
    top: 250px;
    left: 150px;
    border-right: 0px;
    z-index: 10;
    letter-spacing: 8px;
    font-size: 55px;
    text-align: left;
}

.hero-circle {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #e3cf32;
    position: relative;
    top: 330px;
    left: 200px;

}

.hero-circle-2 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #e8ee49;
    position: relative;
    top: 180px;
    left: 280px;
    z-index: 5;
}


/* 2つだけだとん？ってなるから少し増やしてみた */
.hero-circle-3 {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #e8ee49;
    position: relative;
    top: 30px;
    left: 800px;
}

.hero-circle-4 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #e3cf32;
    position: relative;
    top: -60px;
    left: 900px;
    z-index: 5;
}

/* ここから「検索はこちらから」ボタン */
.search-btn {
    right: 60px;
    bottom: 150px;
    width: 400px;
    height: 100px;
    background-color: #e3cf32;
    color: white;
    font-size: 30px;
    border-radius: 15px;
    border-color: transparent;
    position: fixed;
    border-color: white;
    border-width: 3px;
    box-shadow: 3px 3px rgb(192, 186, 186);
    z-index: 1000;
    font-weight: bold;
    letter-spacing: 4px;
}

.search-btn-a{
    color: white;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 30px;
    text-decoration: none;
}

.search-btn:hover {
    background-color: #bcaa1d;
    cursor: pointer;
}

/* ここからShukatsu */
.shukatsu {
    /* position: relative; */
    width: 100%;
    height: 450px;
    background-color: #0071bc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shukatsu-title {
    color: white;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 40px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.shukatsu-title-jpn {
    font-size: 20px;
    color: white;
    letter-spacing: 4px;
    margin-bottom: 10px;
    text-decoration: underline;
    text-decoration-color: #e3cf32 ;
}

.shukatsu-title-border {
    width: 330px;
    height: 3px;
    background-color: #e3cf32;
    margin-bottom: 80px;
    margin-top: -15px;


}

.shukatsu-txt-description-title-jpn {
    font-size: 25px;
    color: white;
    text-align: center;
}


.shukatsu-txt-motto {
    width: 700px;
    font-size: 36px;
    color: white;
    font-weight: bold;
    letter-spacing: 10px;
    text-align: center;
}

.sp_br {
    display: none; 
}





/* 「始めの一歩」だけ色を変更できない */
/* ここからHow to Use CRAFT */

.howto {
    margin-top: 0;
    width: 100%;
    height: 300px;
}

.how-to {
    margin-bottom: 50px;
    margin-left: 0px;
    height: 0px;
    font-size: 20px;
    color: #0071bc;
    letter-spacing: 2px;
    text-decoration: underline;
    text-decoration-color: #e3cf32;
}

.howto-title {
    margin-top: 100px;
    text-align: center;
    color: #0071bc;
    font-weight: bold;
    font-size: 50px;
}

.fadeUp {
    animation-name: fadeUpAnime;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeUpAnime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.bold {
    font-weight: bold;
}

.howto-steps {
    display: flex;
    justify-content:center;
    gap: 50px;
}

.howto-search,
.howto-agent,
.howto-apply {
    color: #0071bc;
    top: 100px;
    text-align: center;
    font-size: 20px;
}

.howto-search-title,
.howto-agent-title,
.howto-apply-title {
    font-weight: bold;
    font-size: 30px;
}


.howto-agent-txt {
    margin-bottom: 7px;
    font-size: 20px;
}

.howto-search-img {
    height: 230px;
    width: 160px;
    margin-top: 10px;
}

.howto-agent-img,
.howto-apply-img {
    height: 200px;
    width: 200px;
    margin-top: 50px;
}

.bold {
    text-decoration: underline;
    text-decoration-color: #e3cf32;
    
}




/* ここからhandling company*/

.handling {
    width: 100%;
    height: 820px;
    margin-top: 80px;

    overflow: hidden;
}

.handling-discription {
    margin-left: 100px;
}

.logos-discription {
    margin-top: 10%;
    margin-left: 15px;
    font-size: 20px;
    color: #0071bc;
    font-weight: bold;
}

.handling-logos {
    width: 100%;
    background-color: #B7DDFF;
    flex-direction: column;
    align-items: flex-start;
    height: 30px;
}

.slider {
    display: flex;
    align-items: center;
    margin-top: 0px;
    background-color: #fff;
}

.slider img {
    width: 200px;
    /* 画像を親要素に合わせてリサイズ */
    height: 200px;
    /* アスペクト比を維持 */
    object-fit: contain;
    /* 画像のアスペクト比を保ったまま表示 */
    margin-right: 10px;
    gap: 10px;
}

.slider img:not(:last-child) {
    margin-right: 50px;
}



.handling-title {
    font-size: 40px;
    font-weight: bold;
    color: #0071bc;
    letter-spacing: 10px;
    margin-top: 200px;
    text-align: center;
}

.handling-jpn {
    font-size: 20px;
    color: #0071bc;
    letter-spacing: 2px;
    text-decoration: underline;
    text-decoration-color: #e3cf32;
    text-align: center;
    margin-bottom: 30px;
}



.handling-txt {
    text-align: center;
    justify-content: center;
    /* height: 300px; */
    width: 100%;
    font-size: 18px;
    font-style: normal;
    /* line-height: 50px; */
    color: rgb(87, 86, 86);
    margin-bottom: 30px;
}

.handling-comapny-sub{
    margin-top: 20px;
    margin-left: 10px;
    width: 90%;
    font-size: 20px;
    font-style: normal;
    line-height: 20px;
    color: #0071bc;
}


.handling-company{
    margin-top: 10px;
    margin-left: 30px;
    width: 95%;
    font-size: 20px;
    font-style: normal;
    line-height: 20px;
    color: rgb(87, 86, 86);
}


/* ここからvoices利用者の声 */

.voices {
    width: 100%;
    height: 600px;
}

.voices-title {
    margin-top: 100px;
    font-size: 40px;
    color: #0071bc;
    text-align: center;
    font-weight: bold;
}

.voices-title-jpn {
    font-size: 20px;
    color: #0071bc;
    letter-spacing: 2px;
    text-decoration: underline;
    text-decoration-color: #e3cf32;
    font-weight: bold;
    text-align: center;
    margin-bottom:60px;
}

.voices-contents {
    display: flex;
    margin: 0 auto;
}

.voices-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 50px;
    left: 60px;
    margin: auto;
    margin-left: 120px;
    margin-top: 50px;
    width: 85%;
}

.voices-contents-box {
    background-color: #fff;
    width: 350px;
    height: 170px;
    border-radius: 30px;
    margin-bottom: 30px;
    border: 4px solid rgb(206, 204, 204);
    /* backgroud-colorを白に変更＆borderプロパティで灰色の枠線 */
}

.voices-contents-box-sub {
    width: 340px;
    height: 160px;
    z-index: 5;
    background-color: #B7DDFF;
    position: relative;
    top: -12px;
    left: 8px;
    margin: 0;
    border-radius: 25px;
}

.voices-contents-txt,
.voices-contents-name,
.voices-contents-stars-title {
    font-size: 15px;
    word-break: break-all;
}

.voices-contents-txt {
    margin-bottom: 0px;
    padding: 0;
}

.voices-contents-name{
    margin-left: 15px;
    margin-bottom: 10px;
}

.voices-contents-txt {
    margin-top: 6px;
    margin-left: 10px;
    padding: 0;
    width: 320px;
}

.voices-contents-stars-title {
    height: 20px;
    padding-bottom:30px;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 20px;
    font-weight: bold;
}

.voices-img {
    width: 200px;
    height: 200px;
}

.name-bottom{
    margin-top: 25px;
}
.stars {
    margin-left: 50px;
    padding-top: -15px;
    position: relative;
    top: -6px;
    left: 25px;
    font-size: x-large;
}


/* ここからcreator */

.creators{
    height: 400px;
}

.creator-title{
    text-align: center;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 0;
    font-size: 40px;
    font-style: bold;
    color: #0071bc;
}

.creator-title-jpn{
    text-align: center;
    font-size: 20px;
    font-style: normal;
    color: #0071bc;
    text-decoration: underline;
    text-decoration-color: #e3cf32;
}

.creator-img{
    width: 150px;
    height: 150px;
    z-index: 10;
}
.creator-img-under{
    display: none;
}

.creator-container{
    display: flex;
    margin-top: 1.5rem;
}

.creator{
    display: inline-block;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.creator-name{
    color: #0071bc;
    font-size: 21px;
}



.creator-img-container {
    display: flex;
    /* position: relative; */
    left: 80px;
    top: 50px;
}


.creator-img-under1 {
    width: 100px;
    height: 150px;
    position: absolute;
    top: 20px;
    left: 70px;
    background-color: #e3cf32;
}

.creator-img-under2 {
    width: 100px;
    height: 150px;
    position: absolute;
    top: 20px;
    left: 330px;
    background-color: #e3cf32;
}

.creator-img-under3 {
    width: 100px;
    height: 150px;
    position: absolute;
    top: 20px;
    left: 590px;
    background-color: #e3cf32;
}

.creator-img-under4 {
    width: 100px;
    height: 150px;
    position: absolute;
    top: 20px;
    left: 850px;
    background-color: #e3cf32;
}

.creator-img-under5 {
    width: 100px;
    height: 150px;
    position: absolute;
    top: 20px;
    left: 1110px;
    background-color: #e3cf32;
}

.creator-title-border {
    position: relative;
    top: -10px;
}

.creator-uni{
    color: #0071bc;
    font-size: 14px;
}

ul {
    display: inline-block;
}

.company-info {
    text-align: center;
}

.company-info-title-1,
.company-info-title-2 {
    list-style-type: square;

}

/* ここからAbout */
.about {
    /* ここを1440にしたら余白多少はマシになった */
    width: 100%;
    height: 600px;
    /* position: relative; */
    background-color: #0071bc;
    margin-top: 80px;
    display: flex;
}

.about-left {
    margin-left: 150px;
    margin-top: 100px;
    width: 50%;
}

.about-right {
    margin-left: 100px;
    margin-top: 50px;
    width: 50%;
}

.about-title {
    /* position: relative; */
    top: 90px;
    left: 120px;
    color: white;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 40px;
}

.about-title-jpn {
    font-size: 20px;
    /* position: relative; */
    top: 80px;
    left: 120px;
    /* width: 300px; */
    color: white;
    letter-spacing: 4px;
    text-decoration: underline;
    text-decoration-color: #e3cf32;
    margin-bottom: 50px;
}

/* .about-title-border {
    width: 265px;
    height: 3px;
    background-color: #e3cf32;
    position: relative;
    top: 60px;
    left: 115px;
} */


.about-philosophy {
    font-size: 20px;
    /* position: relative; */
    top: 100px;
    left: 120px;
    color: white;
    letter-spacing: 2px;
}


.about-txt-motto {
    /* width: 700px; */
    height: 150px;
    font-size: 36px;
    /* position: relative; */
    top: 190px;
    left: 150px;
    color: white;
    font-style: bold;
    letter-spacing: 10px;
}


.about-txt-description-title {
    height: 50px;
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-align: left;
    /* width: 700px; */
    /* margin: 0; */
    /* position: relative; */
    /* top: -200px;
    left: 950px; */

}

.about-txt-description-title-jpn {
    /* height: 50px; */
    margin-top: 350px;
    margin-right: 30px;
    font-size: 25px;
    color: white;
}

.about-txt-description-description {
    /* width: 500px; */
    height: 150px;
    /* position: relative; */
    font-size: 15px;
    top: -90px;
    left: 500px;
    color: white;
    word-spacing: 120px;
}

.about-txt-motto-span {
    font-weight: bold;
    font-size: 45px;
}


/* ここからcontact */

.contact {
    margin-top: 30px;
}

.contact-title-background {
    background-color: rgb(212, 212, 212);
    height: 150px;
    width: 100%;
}

.contact-title {
    color: #0071bc;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    /* position: relative; */
    letter-spacing: 3px;
}


.contact-title-jpn {
    color: #0071bc;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #e3cf32;
}

.footer {
    height: 200px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.footer-img {
    height: 70px;
    margin-right: 30px;
}

.footer-row-1,
.footer-row-2,
.footer-row-3 {
    margin-right: 40px;
}



.footer-authority {
    display: flex;
    justify-content: center;
    color: gray;
    margin-top: 50px;
}

.footer-copyright {
    color: #0071bc;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 20px;
}

/* 追加のスタイル */
.footer-content p {
    margin: 0;
    padding: 5px;
    cursor: pointer;
    color: #333;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-content p:hover {
    color: #0071bc;
}

.footer-authority p {
    margin: 0;
    padding: 5px;
    color: gray;
    font-size: 12px;
}

.footer-copyright {
    font-size: 12px;
}



/* js用 */
.title {
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 1s;
}

.title.active {
    opacity: 1;
    transform: translate(0, 0);
}




/* レスポンシブ用 */
@media screen and (max-width: 480px) {

    .header{
        top: 0px;
        width: 100%;
        position: fixed;
        height: 60px;
        background-color: rgba(242, 242, 242, 0.668);
        z-index: 1000;
    }

    /* 比較してみるボタン */
    .search-btn {
        /* right: 60px; */
        top: 790px;
        width: 95%;
        height: 80px;
        left: 0px;
        bottom: 2px;
        background-color: #e3cf32;
        color: white;
        font-size: 30px;
        border-radius: 15px;
        border-color: transparent;
        z-index: 50;
        position: fixed;

        border-color: white;
        border-width: 3px;
        box-shadow: 3px 3px rgb(192, 186, 186);
        z-index: 1000;
    }
    
    .search-btn:hover {
        background-color: #bcaa1d;
        cursor: pointer;
    }



    /* ハンバーガーメニュー */
    /*ここから下がハンバーガーメニューのスタイル*/

        .gnavi__pc-style {
            display: none;
        }

        .gnavi__sp-style {
            display: block;
            position: fixed;
            z-index: 1000;
        }

        /*メニューボタン　展開前*/
        .menu-btn {
            display: block;
            position: fixed;
            z-index: 3;
            right: 30px;
            top: 20px;
            width: 42px;
            height: 42px;
            cursor: pointer;
            text-align: center;
        }

        .menu-btn span {
            display: block;
            position: absolute;
            width: 30px;
            height: 2px;
            left: 6px;
            background: #555;
            -webkit-transition: 0.3s ease-in-out;
            -moz-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
        }

        .menu-btn span:nth-of-type(1) {
            top: 10px;
        }

        .menu-btn span:nth-of-type(2) {
            top: 20px;
        }

        .menu-btn span:nth-of-type(3) {
            top: 30px;
        }

        /*メニューボタン　展開後*/
        .menu-btn.active span:nth-child(1) {
            top: 16px;
            left: 6px;
            background: #fff;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .menu-btn.active span:nth-child(2),
        .menu-btn.active span:nth-child(3) {
            top: 16px;
            background: #fff;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        /*スマホ用のメニュー*/
        .gnavi__sp-style {
            position: fixed;
            z-index: 2;
            top: 0;
            left: 0;
            color: #fff;
            background-color: rgba(100, 100, 100, 0.8);
            text-align: center;
            width: 100%;
            height: 100vh;
            opacity: 0;
            transition: opacity .6s ease, visibility .6s ease;
            display: flex;
            align-items: center;
        }

        .sp-header-ul {
            margin-top: 220px;
            margin-bottom: 310px;
            padding: 0;
            width: 100%;
            gap: 20px;
        }

        .sp-header-li {
            list-style-type: none;
            padding-top: 0px;
            width: 100%;
            transition: .4s all;
        }

        .gnavi__sp-style ul li:hover  {
            text-decoration: underline;
            text-decoration-color:#e3cf32 ;
        }

        .gnavi__sp-style ul li a:hover  {
            color: #bcaa1d;
        }

        .gnavi__sp-style ul li:last-of-type {
            padding-bottom: 0;
        }

        .gnavi__sp-style ul li:hover {
            background: #ddd;
        }

        .gnavi__sp-style ul li a {
            display: block;
            color: #fff;
            text-decoration: none;
            font-size: 20px;
            font-weight: bold; /* これを追加します */
            margin-top: 30px;
        }

        .gnavi__sp-style.active {
            opacity: 1;
        }
    
        /* hero */
        .hero {
            background-size: contain;
            margin-top: 115px;
            height: 350px;
        }
        
        .hero-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 350px;
            background-color: rgba(255, 255, 255, 0.5);
        }
        

        .hero-title-jpn {
            font-size: 8vw;
            left: 0;
            top: 50px;
        }

        .sp_br {
            display: block; 
        }

        /* 円 */
        .hero-circle{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: #e3cf32;
            position: absolute;
            top: 270px;
            left: 280px;
    }

        .hero-circle-2 {
        }

        .hero-circle-3 {
            display: none;
        }
        
        .hero-circle-4 {
            display: none;
        }
        
/* 就活エージェントって？ */
        .shukatsu{
            margin-top:80px;
            height: 650px;
        }

        .shukatsu-title{
            text-align: center;
            font-size: 30px;
            margin-top: 0px;
        }

        .shukatsu-title-jpn{
            font-size: 12px;
        }

        .shukatsu-txt-description-title-jpn {
            font-size: 18px;
            color: white;
            text-align: center;
            margin-top: 20px;
        }

        /* 使い方 */
        .howto{
            margin-top: 40px;
            height: 500px;
        }

        .howto-title{
            text-align: center;
            font-size: 40px;
            margin-top: 0px;
        }

        .how-to-title-jpn{
            font-size: 10px;
        }

        .howto-steps{
            margin-top: 70px;
            font-size: 15px;
            display:flex ;
            flex-direction: column;
            align-items: center;
        }

        .howto-agent-txt {
            font-size: 17px;
            margin-top: 0;
        }

        .howto-agent-txt-small {
            font-size: 15px;
            margin-top: 0;
        }

        .howto-search-txt{
            font-size: 18px;  
        }

        .howto-search-img {
            height: 170px;
            width: 140px;
        }
        
        .howto-agent-img,
        .howto-apply-img {
            height: 200px;
            width: 220px;
        }

        /* 取扱会社 */
        .handling{
            margin-top: 550px;
            height: 1000px;
            flex-direction: column;
            align-items: center;
            
        }

        .handling-logos{
            width: 100%;
            height: 60px;
            margin-top: 0;
        }

        .handling-txt{
            font-size: 14px;
            margin-left: 0px;
            margin-bottom: 30px;
        }
        
        .handling-title{
            margin-left: 0px;
            left: 15%;
            font-size: 35px;
            margin-top: 300px;
        }

        .handling-jpn{
            margin-left: 0px;
            left: 15%;
            margin-bottom: 0px;
            height: 50px;
        }

        .slider{
            background-color: #fff;
        }

        .slider img{
                width: 100px;
                /* 画像を親要素に合わせてリサイズ */
                height: 100px;
                /* アスペクト比を維持 */
                object-fit: contain;
                /* 画像のアスペクト比を保ったまま表示 */
                margin-right: 10px;
                gap: 10px;
            }


        .handling-discription{
            margin-left: 0px;
            font-size: 15px;
        }

        .handling-comapny-sub{
            margin-top: 20px;
            margin-left: 40px;
            width: 90%;
            font-size: 14px;
            font-style: normal;
            line-height: 20px;
            color: #0071bc;
            font-weight: bolder;
        }

        .handling-company{
            margin-top: 10px;
            margin-left: 60px;
            width: 90%;
            font-size: 14px;
            font-style: normal;
            line-height: 20px;
            color: rgb(87, 86, 86);
        }



        /* 利用者の声 */
        .voices-title {
            margin-top: 0px;
        }

        .voices-container {
            flex-direction: column;
            display: block;
            left: 0px;
            margin-top: 40px;
            margin-left: 0px;
        }
        .voices-img{
            width: 20%;
            height: 20%;
        }
        .voices-contents-box{
            width:80%;
            height: 120px;
        }
        .voices-contents-box-sub{
            width:100%;
            height: 120px;
        }
        .voices-contents-stars-title{
            font-size: 12px;
            /* padding-top: 30px; */
        }
        .voices-contents-txt{
            font-size: 12px;
            width: 90%;
            margin: auto;
        }

        .voices-contents-name{
            font-size: 12px;
            margin-left: 15px;
            margin-top: 5px;
        }

        .voices-contents-stars-title{
            font-size: 12px;
            margin-left: 20px;
            padding-top: 5px;
        }


        /* 私たちについて */

        .about{
            margin-top: 150px;
            height: 400px;
            flex-direction: column;
        }

        .about-left{
            margin-left: 15px;
            margin-top: 0px;
            width: 100%;
        }

        .about-title{
            text-align: left;
            font-size: 40px;
            margin-top: 23px;
        }

        .about-title-jpn{
            margin-bottom: 0px;
        }

        .about-title-letters{
            font-size: 20px;
        }

        .about-title-jpn-letters{
            font-size: 10px;
        }

        .about-philosophy-letters{
            font-size: 15px;
            margin-top: 20px;
        }

        .about-txt-motto-span{
            font-size: 15px;
        }

        .about-txt-motto{
            margin-top: 15px;
            font-size: 15px;
            height: 100px;
        }

        .about-right{
            margin-left: 0px;
            margin-top: 0px;
            display: flex;
            width: 100%;
        }

        .about-txt-description-title{
            font-size: 2rem;
        }

        .about-txt-description-title{
            font-size: 20px;
            width: 50%;
            margin-left: 1rem;
        }

        .about-txt-description-title-jpn{
            font-size: 14px;
            margin-top: 0rem;
            width: 50%;
        }

        /* 制作者 */
        .creators{
            height: 400px;
        }

        .creator-title{
            font-size: 30px;
            margin-top: 50px;
            text-align: center;
        }

        .creator-title-jpn{
            font-size: 10px;
        }


        .creator-img{
            width: 70px;
            height: 70px;
            margin: 0%;
        }
        .creator-img-under{
            display: none;
        }

        .creator-container{
        margin-top: 1.5rem;
        }

        .creator{
            display: inline-block;
            overflow: hidden;
            text-align: center;
            justify-content: center;
        }

        .creator-name{
            color: #0071bc;
            font-size: 13px;
        }

        /* footer */
        .footer{
            height: 300px;
        }

        .footer-img{
            width: 50%;
            height: 20%;
        }

        .footer-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }