body{
    overflow-x: hidden;
}


img{
    max-width: 100%;
    height: auto;
}



.search{
    width:100% ;
    height:150px ;
    background-color: white;

}

.move{
    position: fixed;
    z-index: 100;
    top: 0;
}

.search-title{
    color: #0071bc;
    font-weight: bold;
    font-size: 60px;
    position: ;
    top: 10px;
    left: 70px;
    letter-spacing: 10px;
}

.search-title-jpn{
    position: ;
    left: 130px;
    font-size: 20px;
}

.search-title-border{
    width: 180px;
    height:3px;
    position: ;
    left: 110px;
    background-color: #ffe600;

}

.search-title-cart{
    width: 100px;
    height: 100px;
    position: ;
    /* top:-80px;
    left:1200px; */
}

/* カートの周りの丸い枠 */
.search-title-cart-border{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #0071bc;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.49);
}

.cart-badge{
    width: 40px;
    height: 40px;
    left: -30px;
    background-color: #0071bc;
    padding-left: 13px;
    padding-top: 8px;
}
/* 以下絞り込み機能 */
.grid-cols-2{
    background-color: aliceblue;
}

.m-8{


    width:40%;
    height:500px ;
    border-radius: 20px;
    background-color: white;

    box-shadow: 5px 5px  rgb(180, 179, 179);
    margin: 20px 10%;
    gap: 50px;
}

.major-pencil-img{
    /* width:50px ; */
    height: 35px;
}

.major-txt{
    font-size: 20px;
}


/* .checkbox{
    text-align: center;
    position: ;
    top: -15px;
} */

.check-label{
    left: 20px;
    top: 30px;
}

.label-hover{
    left: 20px;
    top: 30px;
}


.label-hover1{

    /* font-size: 15px; */

}

.checkbox-2{
    margin-left: 20px;
}

.label-hover2{
    /* font-size: 15px; */
}

.major-border{
    border-width: 1px;
    position: ;
    top: 10px;

    left: 25px;
    color: gray;
    width: 150px;
}
.major-checkbox{
    display: flex;
}


/* 以下「面談方法」 */
.contact-mail-img{
    height: 35px;
}

.contact-txt{
    font-size: 20px;
    position: ;
    top: 40px;
    left:50px ;
}

.contact-border{
    border-width: 1px;
    color: gray;
    position: ;
    top: 50px;
    left: 25px;
    width: 150px;
}

/* 以下、「エリア」 */

.area-point-img{
    height: 35px;
}

.area-txt{
    font-size: 20px;
    position: ;
    top: 70px;
    left: 50px;
}


.area-tokyo-checkbox{
    position: ;
    top:20px ;
    left:;
}

.area-tokyo-txt{
    position: ;
    top: 20px;
    left: ;
}

.area-osaka-checkbox{
    position: ;
    top:30px ;
    left: ;
}

.area-osaka-txt{
    position: ;
    top: 30px;
    left:;
}

.area-nagoya-checkbox{
    position: ;
    top: 40px;
    left: ;
}

.area-nagoya-txt{
    position: ;
    top:40px ;
    left: ;
}

.area-fukuoka-checkbox{
    position: ;
    top: 50px;
    left: ;
}

.area-fukuoka-txt{
    position: ;
    top:50px ;
    left: ;
}

.btn-big,.blue{
    position: ;
    top: 80px;
    left: 55px;
}

/*以下検索結果 */
.results{
    display: flex;
    position: relative;
    top: -2%;
    left: -40%;
}

.results-img{
    width: 50px;
    height: 50px;
}

.results-txt{
    font-size: 30px;
}

.results-number{
    font-size: 60px;
    color: #0071bc;
}

/* 以下エージェント掲載ボックス */


.agent-list {
    position: ;
    display: flex;
    /* top: 10px;
    right: 70px;
    width: 80%;
    height: 20%; */
    /* background-color: white;
=
    border-radius: 30px;
    box-shadow: 10px 10px rgb(160, 160, 160); */
    margin: auto;
    gap: 20px;
    box-sizing: border-box;

}
.agent-img{
    width: 40%;
    height: 185px;
    position: ;
    padding: 8px;
    top: 30px;
    left:50px ;
    border-width: 5px ;
    box-shadow: 7px 7px #ffe600;
    margin: 10px;
    object-fit: contain;
    background-color: white;
}

.top-title{
    font-size: 35px;
}

.top-title-border{
    height: 4px;
    background-color: #ffe600;
    position: ;
    top:-115px ;
    left: 320px;
}

.top-description{
    width: 100%;
    /* height: 150px; */
    background-color: rgba(240, 235, 235,0.6);
    border-radius: 20px;
    padding: 5%;
        margin-top: 4px;
    margin-bottom: 4px;
}

.top-description-title{
    font-size: 20px;
    color: #1291e6;
    position: ;
    top:15px ;
    left:15px;
    font-weight: bold;
}

.top-description-txt{
    font-size: 16px;
    width:200px ;
    height:100px ;  
    margin: 0 auto;
}

.top-description-border{
    border-width: 1.5px;
    color: #ffe600;
}

/* ここ３つwidth,heightが効かないです、、、 */

.label-major{
    width: 240px;
    height: 180px;
    background-color: rgba(201, 201, 201, 0.6);
    position: ;

}

.label-contact{
    width: 400px;
    height: 80px;
    background-color: rgb(201, 201, 201, 0.6);
}

.label-area{
    width: 400px;
    height: 80px;
    background-color: rgb(201, 201, 201, 0.6);
    position: ;
    left: px;
}

.add-button{
    position: ;
    top: -85px;
    left:400px ;
}

.see-details{
    position: ;
    top: -40px;
    left:240px ;
}


/*カート機能*/
.search{
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 10%;
}

.cart{
    display: flex;
    margin-right: 10%;
    margin-top: 1.5%
}
.cart-num{
    position: ;
    font-size: 30px;
    color: #0071bc;
}

/*カートの中身*/
.cart-content{
    margin: 10%;
}
.delete-btn{
    top: 0;
    left: 0;
}
.contact-link{
    
    color:#0071bc;
}

/* 加筆 */

.agent-list-wrapper{

    background-color: white;
    border-radius: 30px;
    box-shadow: 10px 10px rgb(160, 160, 160);
    margin-bottom: 30px;
    box-sizing: border-box;
    margin-right: 20px;

}

.bottom{
    display: flex;
        top: 10px;
    right: 70px;
    width: 80%;
    height: 20%;
    gap: 20px;
    justify-content: space-between;
    margin: 10px auto;

}

.results-wrapper{
    position: relative;
    left: -150px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 40px;
    padding: 10px;
    box-shadow: 5px 5px rgb(180, 179, 179);
}

.label-major{
border-radius: 20px;
}

.block{
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
}

.major{
    margin: 30px;    
}


.major-container{
    display: flex;
}

.contact-container{
    display: flex;
}

.area-wrapper{
    display: flex;
}

.contact{
    margin: 30px;
}

.area{
    margin: 30px;

}


label{
    font-size: 20px;
}

.area{
    /* border-bottom: 1.5px solid #e5e7eb */
}

.detail-wrapper{
    box-sizing: border-box;
    width: 45%;
}

.labels{
    width: 60%;
}

/* .cyan{
    font-weight: 1000;
--tw-gradient-from: red var(--tw-gradient-from-position);
--tw-gradient-to: #e9915a var(--tw-gradient-to-position);
} */

.blue{
        --tw-gradient-from: white;
        --tw-gradient-to: white ;
        color: black;
}

.list-right{
    width: 100%;
}

.contact-checkbox{

}
@media screen and (max-width: 784px) {
.cart{
    margin-right:5%;
    margin-top: 3%;
}
.search-title-cart-border{
    width: 90px;
    height: 90px;
}
.search-title-cart{
    width:90px;
    height:90px;
}
.search-title{
    font-size: 50px;
}
.search-title-border{
    width: 180px;
}
}   
@media screen and (max-width: 480px) {
 /* 480px以下に適用されるCSS（スマホ用） */
 .cart{
    margin-right:5%;
    margin-top: 5%;
}
.search-title-cart-border{
    width: 80px;
    height: 80px;
}
.search-title-cart{
    width:80px;
    height:80px;
}
.search-title-border{
    width: 150px;
}
.cart-badge{
    width: 30px;
    height: 30px;
    padding-left:8px;
    padding-top:3px;
}
.badge{
    top:0px;
    margin-left: 15px;
}
.grid-cols-2{
    display: block;
    padding-top: 50px;
}

.m-8{
    width: auto;
    height: auto;
    margin: 0 20px;
}

.contact-checkbox{
    display: inline-flex;
}

.contact-border{
    display: none;
}

.label-hover{
    margin-right: 10px;
    font-size: 17px;
}

.major-border{
    display: none;
}

.area-container{
    display: flex;
}

.my-16{
    width: 100%;
}

.results-wrapper{
    position: initial;
    margin: 0 3% 30px;
}

.results{
    position: initial;
}

.agent-list{
    display: block;
    padding: 5px;
    gap: 10px;
}

.top-title{
    font-size: 30px;
}

.top-description-title{
    font-size: 18px;

}


.search{
z-index: 50000;
height: 120px;

}

.top-description{
    font-size: 14px;
    border-radius: 20px;
    padding: 4%;
    margin-top: 10px;
}

.agent-img{
    width: 90%;
}


.cyan{
    margin-bottom: 5px;
    /* width: 152.53px; */
}

.block{
    /* display: inline; */
}

.labels{
    width: 100%;
    margin-bottom: 10px;
}


.title-wrapper{
    margin-top: 10px;
}

.cart{
    /* margin-right: 30px; */
}



.results-number{
    font-size: 30px;
}

.major{
    margin: 20px;
    padding-top: 10px;
}

.contact{
    margin: 20px;
}

.area{
    padding-bottom: 10px;
    margin: 20px;
}

label{
    font-size: 17px;
}


.bottom{
    display: block;
}

.search-title{
    font-size: 40px;
}

.search-title-jpn{
    font-size: 16px;
}


.search-title-cart{
    height: 80px;
}


.cart-num{
    margin-left: 30px;
}

}