

.search-head{
    padding-left: 20px;
}

img{
    height: auto;
}
.boozer_logo img{
    height: 100%;
}

body{
    background-color:white;
    font-family: 'Noto Sans JP', sans-serif;
}
/* ここから企業詳細情報 */

section{
    background-color:white;
    width: 100%;
    height: 2300px;
}

.wrapper{
    width: 940px;
    height: 1980px;
    background-color:white;
    border-radius: 40px;
    box-shadow: 0px 0px 10px 5px gainsboro; 
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.company-logo-container{
    text-align: center;
}
.company-logo{
    display: block;
    margin-left: 150px;
    width: 250px;
    margin-top: 20px;
}

.company-logo-img{
    box-shadow: 3px 3px 3px 3px #ffe600;
}

.grid-cols-2{
    background-color: white;
    position: relative;
    top: 60px;
    padding: 30px 30px 0 30px;
}

.company-info{
    background-color: white;
    /* position: relative; */
    top: 100px;
}

.company-info-building-img{
    width: 80px;
    height:80px ;
    position: relative;
    left: 100px;
}

.company-info-name{
    font-size: 30px;
    letter-spacing: 2px;
    position: relative;
    top:-50px ;
    left:170px;
    font-weight: bold;
    color: #0071bc;
}


.company-info-company-number{
    font-size: 20px;
    position: relative;
    top: 0px;
    left: 170px;
    margin-bottom: 0;
    letter-spacing: 2px;
    margin:12px;
}

.company-info-assignee{
    font-size: 20px;
    position: relative;
    top:10px ;
    left: 170px;
    letter-spacing: 2px;
    margin:12px;
}

.company-info-hp{
    font-size: 20px;
    position: relative;
    top: 20px;
    left: 170px;
    letter-spacing: 2px;
    margin:12px;
}

.company-info-hp-link{
    font-size: 17px;
    left: 0px;
    top: -5px;
    letter-spacing: 1px;
}
.company-info-hp-link:hover{
    cursor: pointer;
}

.company-info-hp-link-bar:hover{
    cursor: pointer;
}

.label{
    display:flex;
    margin-left: auto;
    margin-right: auto;
}

.label-content{
    width: auto ;
    border-radius:50px ;
    padding: 10px 15px;
    background-color: rgb(227, 224, 224);
    position: relative;
    top:150px;
    left: 170px;
    white-space: nowrap;
}
.label-content:before{
    content: '●';
    color: white;
    margin-left: 3px;
    margin-right: 5px;
    font-size: 5px;
}


.company-info-hp-img{
    width: 400px;
    height:250px ;
    position: relative;
    top:150px ;
    right:-200px ;
}



.recommend-wrapper{
    width:700px ;
    height:300px ;
    border-radius: 75px;
    background-color: #f3f3f3;
    text-align: center;
    margin: auto;
    margin-top: 230px;
    position: center;

}

.recommend-title{
    font-weight: bold;
    letter-spacing: 0.3em;
    line-height: 2;
    font-size: 20px;
    text-align: left;
    padding-left: 50px;
    padding-top: 20px;
    color: #0071bc;
    text-decoration: underline;
    text-decoration-color:#e3cf32 ;
}

.recommend-sec{
    display:flex;
    text-align: left;
    padding-left: 70px;
    padding-right: 70px;
}

.merit{
    word-wrap: break-word;
    height: 40px;
    padding: 25px;
    padding-left: 0;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: normal;
    color: #0071bc;
}

.ic-fire{
    display:block;
    position:relative;
    width: 80px;
    height : 80px;
}

ul {
    list-style: circle;
    position: relative;
    left: 30px;
}


.add-button{
    margin: 50px 150px;
    width: 70%;
    height: 70px;
    justify-content: center;
}

.orange {
    --tw-gradient-from: #0071bc;
    --tw-gradient-to:#0071bc ;
    color:white;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 30px;
}


/* ここから下半分 */
.inner-bottom-line{
    width:800px ;
    height:2px ;
    background-color: rgb(179, 174, 174);
    margin: 0 auto;
}

.opinion-title{
    font-weight: bold;
    border-radius: 30px;
    padding: 12px;
    letter-spacing: 0.3em;
    line-height: 2;
    font-size: 30px;
    text-align: center;
    color: #0071bc;
    text-decoration: underline;
    text-decoration-color:#e3cf32 ;
}


.opinion-bubble{
    width: 500px;
    height:455px ;
    background-color: #B7DDFF ;
    border-radius: 90px;
    position: relative;
    top:-180px ;
    left:380px;
    font-weight:bold;
    font-size: 19px;
    text-align: left;
}

.opinion-bubble-triangle{
    content: "";
  /* borderで三角形を作る */
    border: 30px solid transparent;
    border-top: 100px solid   #B7DDFF;
  /* 配置する */
    position: absolute;
    top: 1550px;
    left: 515px;
    transform: translateX(-75%);
    transform: rotate(63deg);
}



.opinion-bubble-text1,.opinion-bubble-text2,.opinion-bubble-text3{
    color: black;
    word-wrap: break-word;
    padding: 20px;
    font-weight: normal;
}

.opinion-bubble-text1{
    padding-top: 40px;
}



.transition-link a{
    position: relative;
    background: #0071bc;
    border: 1px solid #0071bc;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 12px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.1em;
    line-height: 1.3;
    text-align: left;
    text-decoration: none;
    transition-duration: 0.3s;
}

.transition-link a:hover {
    background: #fff;
    color: #228bc8;
}

.blue{
    width:220px ;
    height:80px ;
    font-size: 25px;
}

.opinion-buttons{
    display: flex; 
    justify-content: center;
    gap: 5px;
}

.opinion-img{
    width: 220px;
    height:200px ;
    position: relative;
    top: 350px;
    left: 90px;
}
.opinion-img.res{
    display: none;
}


.opinion-cart-btn{
    --tw-gradient-from: #0071bc;
    --tw-gradient-to: #0071bc;
    color: white;
    font-weight: bold;
    letter-spacing: 4px;
    margin: 0px 16% 15px;
    font-size: 32px;
    width: 70%;
}
.search-btn{
    font-size:16px;
    width: 18%;
    margin-left: 78%;
}

@media screen and (max-width: 768px) {
    .wrapper{
        /* width: 640px; */
    }

}

@media screen and (max-width: 480px) {
    /* section{
        height: 2000px;
    } */
    .search-head{
        font-size: 18px;
    }
    
    /* .search-title-jpn{
        font-size: 15px;
        letter-spacing: 2px;
        left: 90px;
    }

    .search-title-cart{
        right: 0px;
        top: 0px;
    } */
    .wrapper{
        width: 92%;
        height: 95%;
        margin: 0 auto;
    }

    .grid{
        display: block;
    }

    .grid-cols-2{
        width: 100%;
        padding-top: 0px;
    }

    .company-info-building-img{
        width: 45px;
        height:90px ;
        position: relative;
        left: 20px;
    }

    .company-info{
        top: 60px;
    }

    .company-info-name{
        font-size: 20px;
        letter-spacing: 2px;
        top: -60px;
        left: 80px;
        width: 85%;
    }

    .company-info-company-number{
        left: 40px;
        letter-spacing: 2px;
        margin:12px;
        font-size: 20px;
    }
    .company-info-assignee{
        left: 40px;
        letter-spacing: 2px;
        margin:12px;
        font-size: 20px;
    }
    .company-info-hp{
        left: 40px;
        letter-spacing: 2px;
        margin:12px;
        font-size: 20px;
    }

    .company-logo{
        margin: 60px auto;
    }
    
    .label-content{
        border-radius: 15px ;
        padding: 5px;
        padding-right: 10px;
        top: 100px;
        left: 30px;
        font-size: 12px;
        width: auto;
    }


    .recommend-wrapper{
        left: 18px;
        top: 45px;
        width: 90%;
        margin-top: 140px;
    }
    .label{
       margin-left: 5%;
        width: 80%;
        flex-wrap: wrap;
        gap: 4px;
    }
    .merit{
        font-size: 18px;
        width: 100%;
    }
    .recommend-sec{
        padding-left: 15px;
        padding-right: 20px;
    }


    .add-button{
        text-align: center;
        top:50px;
        left: 15%;
        margin: 25px 50px;
        font-size: 25px;
    }
    .inner-bottom-line{
        top: 25px;
        display:none;
    }

    .opinion-title{
        font-size: 18px;
        left: 80px;
        top: 110px;
    }

    .opinion-bubble{
        width: 90%;
        height: 520px;
        top: 0px;
        left: 18px;
    }
    .opinion-bubble-triangle{
        display: none;
    }

    .opinion-img{
        width: 50%;
        height: 50%;
        top: 0px;
        left: 50%;  
        display: none;
    }

    .opinion-img.res{
        display: block;
        left: 0;
    }

    .opinion-bubble-text1{
        font-size: 18px;
        width: 80%;
        margin: 0 auto;
    }
    .opinion-bubble-text2{
        font-size: 16px;
        margin: 30px auto 0;
        width: 80%;
    }
    .opinion-bubble-text3{
        font-size: 16px;
        margin: 30px auto 0; 
        width: 80%;
    }

    .blue{
        font-size: 24px;
        top: 30px;
        left: 25%;
    }
    .opinion-buttons{
        display: block;
        margin: 55px 70px;
    }
    .opinion-cart-btn{
        font-size: 25px;
        margin: 15px 40px;
        width: 80%;
    }
    .search-btn{
        font-size:16px;
        width: 45%;
        margin-top: 20px;
        margin-left: 50%;
    }
}
