.search-head{
    padding-left: 20px;
}

img{
    height: auto;
}
.boozer_logo img{
    height: 100%;
}

/* ここから企業詳細情報 */

section{
    background-color: aliceblue;
    width: 100%;
    height: 2300px;
}

.wrapper{
    width: 940px;
    height: 1900px;
    background-color:white;
    border-radius: 40px;
    box-shadow: 5px 5px rgb(180, 178, 178);
    position: relative;
    top: 50px;
    margin: 0 auto;
}
.company-logo-container{
    text-align: center;
}
.company-logo{
    /* margin-top: 45%; */
}

.grid-cols-2{
    background-color: white;
    position: relative;
    top: 60px;
    padding: 30px 30px 0 30px;
}

.company-info{
    background-color: white;
    /* position: relative; */
    top: 100px;
    font-weight: bold;
}

.company-info-building-img{
    width: 80px;
    height:80px ;
    position: relative;
    top: ;
    left: 100px;
}

.company-info-name{
    font-size: 25px;
    letter-spacing: 2px;
    position: relative;
    top:-50px ;
    left:170px;
    font-weight: bold;
}


.company-info-company-number{
    font-size: 30px;
    position: relative;
    top: 0px;
    left: 170px;
    margin-bottom: 0;
    letter-spacing: 2px;
    margin:12px;
}

.company-info-assignee{
    font-size: 30px;
    position: relative;
    top:10px ;
    left: 170px;
    letter-spacing: 2px;
    margin:12px;
}

.company-info-hp{
    font-size: 30px;
    position: relative;
    top: 20px;
    left: 170px;
    letter-spacing: 2px;
    margin:12px;
}

.company-info-hp-link{
    font-size: 17px;
    position: relative;
    left: 0px;
    top: -5px;
    letter-spacing: 1px;
}
.company-info-hp-link:hover{
    cursor: pointer;
}

.company-info-hp-link-bar:hover{
    cursor: pointer;
}

.label{
    display:flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 70%;
}
.label-content{
    width: 110px ;
    border-radius:50px ;
    padding: 10px;
    background-color: rgb(227, 224, 224);
    position: relative;
    top:150px;
    left: 170px;
}
.label-content:before{
    content: '●';
    color: white;
    margin-right: 8px;
}


.company-info-hp-img{
    width: 400px;
    height:250px ;
    position: relative;
    top:150px ;
    right:-200px ;
}

.recommend-sec{
    display:flex;
}

.merit{
    word-wrap: break-word;
    width:550px ;
    height: 40px;
    padding: 25px;
    padding-left: 0;
    font-size: 20px;
    margin-bottom: 20px;
}

.ic-fire{
    display:block;
    position:relative;
    width: 80px;
    height : 80px;
}

ul {
    list-style: circle;
    position: relative;
    left: 30px;
}

.recommend-wrapper{
    width:600px ;
    height:260px ;
    border-radius: 75px;
    border-width: 10px;
    border-color: #0071bc;
    position: relative;
    top: 160px;
    left: 200px;
    margin: 0;
    margin-top: 35px;
}
.add-button{
    /* width:380px ; */
    width: 70%;
    height: 70px;
    position: relative;
    top: 260px;
    left: 170px;
    font-size: 25px;
}


/* ここから下半分 */
.inner-bottom-line{
    width:800px ;
    height:2px ;
    background-color: rgb(179, 174, 174);
    position: relative;
    top: 350px;
    margin: 0 auto;
}

.opinion-title{
    font-weight: bold;
    position: relative;
    top: 385px;
    left: 170px;
    background: #0071bc;
    border-radius: 30px;
    padding: 12px;
    color: #fff;
    letter-spacing: 0.3em;
    line-height: 2;
    width: 130px;
    font-size: 25px;
    text-align: center;
}

.opinion-img{
    width: 260px;
    height:200px ;
    position: relative;
    top: 740px;
    left: 90px;
}

.opinion-bubble{
    width: 500px;
    height:415px ;
    background-color: #0071bc;
    border-radius: 90px;
    position: relative;
    top:110px ;
    left:380px;
    font-weight:bold;
    font-size: 19px;
}

.opinion-bubble-triangle{
    content: "";
  /* borderで三角形を作る */
    border: 30px solid transparent;
    border-top: 100px solid  #0071bc;
  /* 配置する */
    position: absolute;
    top: 1425px;
    left: 330px;
    transform: translateX(-75%);
    transform: rotate(63deg);
}

.opinion-bubble-text1{
    color: #fff;
    word-wrap: break-word;
    width: 400px;
    position: relative;
    top:60px ;
    left: 50px;

}

.opinion-bubble-text2{
    color: #fff;
    word-wrap: break-word;
    width:400px;
    margin-top: 50px;
    position: relative;
    top: 60px;
    left: 50px;

}

.opinion-bubble-text3{
    color: #fff;
    word-wrap: break-word;
    width:400px;
    margin-top: 50px;
    position: relative;
    top: 60px;
    left: 50px;
}
.blue{
    width:220px ;
    height:80px ;
    position: relative;
    top:230px ;
    left:650px;
    font-size: 25px;
}

.transition-link a{
    position: relative;
    background: #0071bc;
    border: 1px solid #0071bc;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 12px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.1em;
    line-height: 1.3;
    text-align: left;
    text-decoration: none;
    transition-duration: 0.3s;
}

.transition-link a:hover {
    background: #fff;
    color: #228bc8;
}

@media screen and (max-width: 768px) {
    .wrapper{
        /* width: 640px; */
    }

}

@media screen and (max-width: 480px) {
    /* section{
        height: 2000px;
    } */
    .search-head{
        font-size: 18px;
    }
    
    /* .search-title-jpn{
        font-size: 15px;
        letter-spacing: 2px;
        left: 90px;
    }

    .search-title-cart{
        right: 0px;
        top: 0px;
    } */
    .wrapper{
        width: 100%;
        height: 1900px;
        margin: 0 auto;
    }

    .grid{
        display: block;
    }

    .grid-cols-2{
        width: 100%;
        padding-top: 0px;
    }

    .company-info-building-img{
        width: 120px;
        height:120px ;
        position: relative;
        left: 20px;
    }

    .company-info{
        top: 60px;
    }

    .company-info-name{
        font-size: 20px;
        letter-spacing: 2px;
        top: -80px;
        left: 140px;
        width: 60%;
    }

    .company-info-company-number{
        left: 40px;
        letter-spacing: 2px;
        margin:12px;
        font-size: 20px;
    }
    .company-info-assignee{
        left: 40px;
        letter-spacing: 2px;
        margin:12px;
        font-size: 20px;
    }
    .company-info-hp{
        left: 40px;
        letter-spacing: 2px;
        margin:12px;
        font-size: 20px;
    }

    .company-logo{
        margin-top: 60px;
    }
    
    .label-content{
        border-radius: 15px ;
        padding: 2px;
        top: 100px;
        left: 30px;
        font-size: 12px;
        width: 72px;
    }

    .recommend-wrapper{
        left: 18px;
        top: 45px;
        width: 90%;
        margin-top: 110px;
    }
    .label{
        width: 80%;
    }
    .merit{
        font-size: 18px;
        width: 65%;
    }


    .cyan{
        top:50px;
        left: 5%;
        margin-top: 25px;
    }
    .inner-bottom-line{
        top: 25px;
        display:none;
    }

    .opinion-title{
        font-size: 20px;
        left: 80px;
        top: 110px;
    }

    .opinion-bubble{
        width: 90%;
        /* height: 100%; */
        top: 0px;
        left: 18px;
    }
    .opinion-bubble-triangle{
        display: none;
    }

    .opinion-img{
        width: 50%;
        height: 50%;
        top: 0px;
        left: 50%;  
    }

    .opinion-bubble-text1{
        font-size: 18px;
        width: 80%;
    }
    .opinion-bubble-text2{
        font-size: 16px;
        margin-top: 30px;
        width: 80%;
    }
    .opinion-bubble-text3{
        font-size: 16px;
        margin-top: 30px;
        width: 80%;
    }

    .blue{
        top: 30px;
        left: 25%;
    }
}
